{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed"
}
